/* Colors
    Medium Dark: #2A2C2B
    Medium White: #FCFCFC
    Green: #00B96B
    Light Gray: #F5F5F5
    Gray: rgba(0, 0, 0, 0.44)
*/

/* Global */
body {
    font-family: "freight-sans-pro", sans-serif;
    color: #2A2C2B;
    font-size: 16px;
}

p {
    font-family: "ff-tisa-web-pro", serif;
}

main {
    padding: 50px;
    background: #FCFCFC;
}

@media screen and (max-width: 768px) {
    main {
        padding: 0;
    }
}

/* Navbar */
.navbar {
    margin-bottom: 0;
    background: #FCFCFC;
}

.container--nav {
    border-bottom: 1px solid #F3F3F3;
}

.nav-link--story {
    color: rgba(0, 0, 0, 0.44);
}

.nav-link--signin-signup {
    color: #00B96B;
}

.navbar-brand {
    color: #2A2C2B;
    font-weight: bold;
}

.icon-bar {
    background: #2A2C2B;;
}

/* Home Styles */
.posts-section {
    margin-bottom: 40px;
}

.blog-post {
    /*border: 1px solid #333;*/
    box-shadow: 0 4px 16px -2px rgba(0,0,0,.1), 0 0 0 1px rgba(0,0,0,.02);
}

.blog-post__heading {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    color: #2A2C2B;
}

.blog-post-heading__link:hover {
    text-decoration: none!important;
}

.blog-post__tagline {
    font-family: "freight-sans-pro", serif;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.44);
}

.blog-post__author {
    color: #2A2C2B;
}

.blog-post__timestamp {
    display: block;
    color: rgba(0, 0, 0, 0.44);
}

.blog-post__footer {
    position: absolute;
    bottom: 20px;
    font-size: 20px;
}

.blog-post--large {
    height: 460px;
    margin-bottom: 20px;
    position: relative;
    padding: 40px;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.4);
}

.blog-post--large__heading {
    font-size: 40px;
    font-weight: bold;
    color: #FCFCFC;
}

.blog-post--large__tagline {
    font-size: 22px;
    color: #FCFCFC;
}

.blog-post--large__content {
    position: absolute;
    top: 273px;
}

.blog-post--large__heading {
    margin: 0;
}

.blog-post--large__footer {
    bottom: 40px;
}

.blog-post--large__author, .blog-post--large__timestamp {
    color: #FCFCFC;
}

.blog-post--medium, .blog-post--small {
    height: 220px;
    padding: 20px;
    position: relative;
}

.blog-post--medium {
    padding: 0;
    display: flex;
}

.blog-post--medium__img {
    width: 240px;
}

.blog-post--medium__content {
    padding: 20px;
}

.blog-post--small {
    margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
    .blog-post--large {
        height: 250px;
        padding: 20px;
    }

    .blog-post--large__content {
        top: 20px;
    }

    .blog-post--large__footer {
        bottom: 20px;
    }

    .blog-post--medium, .blog-post--small {
        height: 200px;
    }
}

/* Modal Styles */
.modal-header {
    height: 86px;
    background: #F3F3F3;
    display: flex;
    flex-direction: column;
}

.modal-header h3 {
    font-size: 22px;
    font-weight: bold;
    margin: auto;
}

.close {
    align-self: flex-end;
}

.modal-body {
    padding: 40px 40px 80px 40px;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
    box-shadow: none;
    font-size: 18px;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus {
    box-shadow: none;
    border-bottom: 1px solid #00B96B;
}

label {
    font-weight: normal;
}

.form-btn {
    border: 1px solid #00B96B;
    border-radius: 2px;
    color: #00B96B;
    background: #fff;
    margin-top: 40px;
}

.form-btn:hover {
    background: #F5F5F5;
    color: #00B96B;
}

/* Post Styles */
.post-header, .create-post-header {
    height: 125px;
    display: flex;
    align-items: center;
    background: #FCFCFC;
}

.post-header__container, .create-post-header__container {
    width: 740px;
}

.post__feature-image {
    height: 710px;
}

.post__title {
    font-size: 40px;
    font-weight: bold;
}

.post__content {
    font-size: 21px;
}

/* Create Post Styles */
.create-post-header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

input[type="text"].new-post__title {
    font-size: 40px;
    font-weight: bold;
}

input[type="text"].new-post__title,
input[type="text"].new-post__tagline,
input[type="url"].new-post__image-url,
textarea.new-post__content {
    background: #FCFCFC;
}

input[type="text"].new-post__image-url {
    padding: 12px;
}

textarea.new-post__content {
    font-family: "ff-tisa-web-pro", serif;
    font-size: 21px;
    border: none;
    box-shadow: none;
}

textarea.new-post__content:focus {
    box-shadow: none;
}

.btn-publish {
    color: #00B96B;
    font-weight: bold;
    background: #FCFCFC;
    border: 1px solid #00B96B;
    border-bottom-left-radius: 13986px;
    border-top-left-radius: 13986px;
    border-bottom-right-radius: 13986px;
    border-top-right-radius: 13986px;
    width: 78px;
}

.btn-publish:hover {
    color: #00B96B;
    background: #F3F3F3;
}

/* Author Styles */
.author__header {
    height: 342px;
}

.author__header .container {
    display: flex;
    height: 100%;
}

.author__header--heading {
    margin: auto;
    font-weight: bold;
}

.author__blog-post {
    height: 420px;
    padding: 20px;
    margin-bottom: 10px;
    background: #FCFCFC;
    border: 1px solid rgba(0,0,0, .1);
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0,0,0,.04);
}

.main--author {
    background: #FAFAFA;
}

.author__blog-post__author {
    font-family: "freight-sans-pro", sans-serif;
    color: #00B96B;
    margin-bottom: 0;
}

.author__blog-post__timestamp {
    color: rgba(0, 0, 0, 0.4);
}

.author__blog-post__main {
    padding: 0;
}

.author__blog-post__tagline {
    color: rgba(0,0,0,.4);
}

.author__blog-post__read-more {
    color: rgba(0, 0, 0, 0.4);
}